.sl-overlay
aside.sl-sidebar
	.sl-sidebar__header
		a.sl-sidebar__close-btn(href="javascript:void(0);") X
		img.sl-sidebar__logo(src="./img/logo.png")
	.sl-sidebar__body
		#accordion.panel-group
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#new-arrivals')
							| new arrivals
				#new-arrivals.panel-collapse.collapse
					.panel-body
						ul.sl-sidebar__sub-menu
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 1
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 2
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 3
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 4
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#jewellary')
							| jewellary
				#jewellary.panel-collapse.collapse
					.panel-body
						ul.sl-sidebar__sub-menu
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 1
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 2
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 3
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 4
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#bridals')
							| bridals
				#bridals.panel-collapse.collapse
					.panel-body
						ul.sl-sidebar__sub-menu
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 1
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 2
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 3
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 4
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#collections')
							| collections
				#collections.panel-collapse.collapse
					.panel-body
						ul.sl-sidebar__sub-menu
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 1
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 2
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 3
							li.sl-sidebar__action
								a(href="javascript:void(0);")
									|	menu 4

	.sl-sidebar__footer
		ul.sl-sidebar__actions
			li.sl-sidebar__action
				a(href="javascript:void(0);")
					img.sl-sidebar__social-logo(src="./img/social-logos/facebook-logo.svg" alt="social logo")
			li.sl-sidebar__action
				a(href="javascript:void(0);")
					img.sl-sidebar__social-logo(src="./img/social-logos/twitter-logo.svg" alt="social logo")
			li.sl-sidebar__action
				a(href="javascript:void(0);")
					img.sl-sidebar__social-logo(src="./img/social-logos/instagram-logo.svg" alt="social logo")