.sl-header {
  border-bottom: 1px solid #ececec;
}
nav {
  position: relative;
}
body {
  position: relative;
  transition: all 1s ease;

  &.menu-open {
    overflow:hidden;
  }
  .sl-navigation {
    background-color: $white;
  }
}
// .sl-menu-button {
//   position: absolute;
//   right: 40px;
//   top: 35px;
// }
.sl-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;

  li {
    display: inline-block;
  }
  

  &__link {
    font-family: $playfair-dc;
    font-size: 14px;
    padding: 0 6px;
    color: $blue-f5d;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    display: none;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      height: 3px;
      width: 100%;
      background-color: $golden-f89;
      transition: transform 1s ease;
      transform: scale(0,0);
      transform-origin: center;
    }

    @media (min-width: $screen-md) {
      display:block;
    }
    @media (min-width: $screen-lg) {
      padding: 0px 20px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $golden-803;
      text-decoration: none;
    }

    &:hover {
      &:after {
        transform: scale(1,1);
      }
    }

  }

  &__ham-menu {
    position: absolute;
    transform: rotate(180deg);
    left: 30px;
    top: 50%;

    @media (min-width: $screen-md) {
      display: none;
    }

  }

  &__menu-button {
    height: 12px;
    padding-left: 20px; 
  }

  &__logo {
    height: 50px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}

.sl-nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-top: 20px;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $screen-sm) {
    flex-direction: row;
  }

  &__search {
    margin-left: 20px;
    outline: 0;
    padding: 5px 10px;
    border-radius: 14px;
    box-shadow: none;
    border: 1px solid #edf0f4;
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-position: right 10px top 5px;

    @media (min-width: 500px) {
      margin-left: 80px;
    }

    @media (min-width: $screen-md) {
      position: absolute;
      right: 70px;
    }
    
    @media (min-width: $screen-xlg) {
      position: absolute;
      right: 170px;
    }

  }

}

.sl-footer {
  min-height: 100px;
  background-color: $footer-bg;
}

.sl-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//Megamenu

.sl-nav__link-item {
  padding: 15px;

  &:hover .sub-menu-wrapper {
    transform: scaleY(1);
  }

}

.sub-menu-wrapper {
  position: absolute;
  top: 52px;
  z-index: 99999;
  left: 0;
  right: 0;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 1s ease-out;
  background-color: #fff;
  box-shadow: 0px 0px 1px 0px #ececec;

  li {
    display: block;
    margin-bottom: 5px;
  }

  padding: 20px;

  @media (min-width: $screen-md) {
    display: block;
  }
  
  @media (max-width: $screen-md - 1) {
    display: none;
  }

  .nav-pills > li > a {
    background-color: transparent;
    color: $blue-f5d;
    font-family: $playfair-dc;
    font-size: 18px;
    &:hover {
      color: $golden-f89;
    }
  }

  .nav-pills > li.active > a, 
  .nav-pills > li.active > a:focus, 
  .nav-pills > li.active > a:hover {
    background-color: transparent;
    color: $golden-f89;
    font-family: $playfair-dc;
    font-size: 18px;
  }

}
.knowledge-panel {
  margin: 0 !important;
}

.submenu2-link {
  position: relative;
  &:hover .sub-menu-wrapper-2 {
    transform: scaleY(1);
  }
}

.sub-menu-wrapper-2 {
  padding: 20px;
  background-color: $white;
  position: absolute;
  top: 36px;
  right: 0;
  width: 210px;
  z-index: 9999;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 1px 1px #ececec;
  li {
    display: block !important;
  }
}

.sl-nav-2 {

  margin: 0 auto;
  padding: 0px;

  &__link {
    font-family: $playfair-dc;
    font-size: 14px;
    padding: 0 6px;
    color: $blue-f5d;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: relative;
    transition: all 0.5s ease;
  
    &:active,
    &:hover,
    &:focus {
      text-decoration: none;
      color: $golden-f89;
    }

  }

  &__link-item {
    display: block;
    margin-bottom: 10px;
  }
  
}