.sl-popular {
    padding: 30px;
    background-color: #fdfdfd;
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width: $screen-md) {
        padding: 50px;
    }

    &__title {
        font-family: $playfair-dc;
        font-size: 28px;
        font-weight: 400;
        color: $blue-f5d;
    }

    &__brands-list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li {
            flex: 1 1 50%;
            @media (min-width: $screen-md) {
                flex: 1 1 25%;
            }
        }
    }

    &__brand {
        padding: 20px 0;
        display: block;
        width: 80%;

        @media screen and (min-width: $screen-md) {
            display: inline-block;
            width: 20%;
        }

    }

}