.sl-collections {
    padding: 50px;
    background-color: #fdfdfd;
    text-align: center;
    margin: 0 auto;

    &__title {
        font-family: $playfair-dc;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 40px;
        color: $blue-f5d;
    }

    &__cat-container {
        
        @media (max-width: 599px) {
            width: 100%;
            margin-bottom: 30px;
        }

        @media (min-width: 600px) and (max-width: 767px) {
            width: 50%;
            margin-bottom: 30px;
        }

    }

    &__categories {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
        li {
            width: 100%;
            margin-bottom: 30px;
        }

        @media screen and (min-width: $screen-md){
            justify-content: center;
            flex-direction: row;
            li {
                width: 20%;
                margin-left: 20px;
            }            
        }
    }

    &__category {
        width: 100%;
        padding: 20px;
        background-color: #f2f2f2;

        &__heading {
            font-family: $playfair-dc;
            font-size: 26px;
            line-height: 8px;
            margin: 10px 0 0;
            color: $blue-f5d;
        }

        &__img {
            height: 120px;
            margin: 0 auto;
        }

        &__sub-heading {
            font-family: $roboto;
            font-size: 14px;
            color: $golden-f89;
            margin-bottom: 0px;
            margin-top: 15px;
        }

    }

    li a {
        text-decoration: none;
    }

}

.collection-slider {
    &__slide {
        @media (min-width: $screen-md) {
            margin: 30px;
            // height: 300px;
        }
        margin: 10px;
        position: relative;
    }

    &__img {
        margin: 0 auto;
        width: 500px;
        @media (min-width: $screen-md) {
            width: 100%;
        }
    }

    &__data {
        position: absolute;
        top: 30px;
        left: 60px;
    }

    &__data-desc { 
        font-family: $raleway;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 300;
        text-align: left;
        color: $golden-f89;
    }

    &__data-title { 
        font-family: $raleway;
        font-size: 20px;
        @media (min-width: $screen-md) {
            font-size: 25px;
        }
        text-transform: uppercase;
        text-align: left;
        margin: 0;
        font-weight: 600;
        color: $blue-f5d;
    }
}