header.sl-header
    nav 
        ul.sl-nav
            li
                a.sl-nav__link(href="javascript:void(0);")
                    | home
            li
                a.sl-nav__link(href="javascript:void(0);")
                    | about us
            li
                a.sl-nav__link(href="javascript:void(0);")
                    img.sl-nav__logo(src="./img/logo.png" alt="shilpe lifestyle logo")
            li
                a.sl-nav__link(href="javascript:void(0);")
                    | gallery
            li
                a.sl-nav__link(href="javascript:void(0);")
                    | contact us