section.rajasthan-banner
    .container
        .rajasthan-banner__wrapper
            .row
                .col-sm-6
                    .rajasthan-banner__card
                        img.rajasthan-banner__logo(src="./img/rajasthan/rajasthan-logo.png" alt="rajasthan logo")
                        h1.rajasthan-banner__heading
                            |   handcrafted
                            br
                            span
                                |   with own
                            br
                            span
                                |   story
                        p.rajasthan-banner__desc
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
                        .rajasthan-banner__jewel-wrapper
                            img.rajasthan-banner__jewel(src="./img/rajasthan/banner-jewel.png")
                    img.rajasthan-banner__img(src="./img/rajasthan/banner-img.png")
