section.rajasthan-jewels
    .container
        .row
            .col-sm-6
                .rajasthan-jewels__wrapper
                    
                    .rajasthan-jewels__content-wrapper
                        h3.rajasthan-jewels__heading
                            |   necklaces
                    
                    .rajasthan-jewels__card-wrapper
                        .rajasthan-jewels__card
                        img.rajasthan-jewels__card-img(src="./img/rajasthan/rj-card-img.png")
                    
                    .rajasthan-jewels__content-wrapper
                        h3.rajasthan-jewels__sub-heading
                            |   diamond claw
                            br
                            span
                                |   view collection
            .col-sm-6
                .rajasthan-jewels__data-card.text-center
                    h3.rajasthan-jewels__data-card__title
                        |   necklaces
                    p.rajasthan-jewels__data-card__sub-title
                        |   Lorem Ipsum is simply dummy text
                    p.rajasthan-jewels__data-card__desc
                        |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
        .row
            .col-sm-6
                .rajasthan-jewels__data-card.text-center
                    h3.rajasthan-jewels__data-card__title
                        |   necklaces
                    p.rajasthan-jewels__data-card__sub-title
                        |   Lorem Ipsum is simply dummy text
                    p.rajasthan-jewels__data-card__desc
                        |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.

            .col-sm-6
                .rajasthan-jewels__wrapper
                    
                    .rajasthan-jewels__content-wrapper
                        h3.rajasthan-jewels__heading
                            |   necklaces
                    
                    .rajasthan-jewels__card-wrapper
                        .rajasthan-jewels__card
                        img.rajasthan-jewels__card-img(src="./img/rajasthan/rj-card-img.png")
                    
                    .rajasthan-jewels__content-wrapper
                        h3.rajasthan-jewels__sub-heading
                            |   diamond claw
                            br
                            span
                                |   view collection

         .row
            .col-sm-6
                .rajasthan-jewels__wrapper
                    
                    .rajasthan-jewels__content-wrapper
                        h3.rajasthan-jewels__heading
                            |   necklaces
                    
                    .rajasthan-jewels__card-wrapper
                        .rajasthan-jewels__card
                        img.rajasthan-jewels__card-img(src="./img/rajasthan/rj-card-img.png")
                    
                    .rajasthan-jewels__content-wrapper
                        h3.rajasthan-jewels__sub-heading
                            |   diamond claw
                            br
                            span
                                |   view collection
                                
            .col-sm-6
                .rajasthan-jewels__data-card.text-center
                    h3.rajasthan-jewels__data-card__title
                        |   necklaces
                    p.rajasthan-jewels__data-card__sub-title
                        |   Lorem Ipsum is simply dummy text
                    p.rajasthan-jewels__data-card__desc
                        |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
