section.rajasthan-video
    .container
        .row
            .col-sm-12
                .rajasthan-video-container
                    .rajasthan-video__wrapper
                        img.rajasthan-video__logo(src="./img/rajasthan/rajasthan-logo.png" alt="logo")
                        p.rajasthan-video__desc
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting.
                        a.rajasthan-video__play-btn(href="javascript:void(0);")
                            |   watch video
                    .rajasthan-video__card-wrapper
                        .rajasthan-video__card
                            img.rajasthan-video__card-img(src="./img/rajasthan/video-card-img.png" alt="rajasthan video card")