section.shivam-banner
	.container
		.row
			.col-sm-3
				.shivam-banner__card
					img(src="./img/shivam/shivam-logo.png" alt="logo")
					p.shivam-banner__desc
						|   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.

			.col-sm-9
				.shivam-banner__wrapper

					ul.shivam-banner__slider
						li.shivam-banner__slide
							img.shivam-banner__slider-img(src="./img/shivam/banner-img.png" alt="banner image")
						li.shivam-banner__slide
							img.shivam-banner__slider-img(src="./img/shivam/banner-img.png" alt="banner image")
						li.shivam-banner__slide
							img.shivam-banner__slider-img(src="./img/shivam/banner-img.png" alt="banner image")

					.shivam-banner__content
						h2.shivam-banner__heading
							|   Handcrafted 
							br
							span
								|   with own story
						p.shivam-banner__sub-heading
							|   Lorem Ipsum is simply dummy text of the printing and typesetting industry.