section.temple-collections
	.container
		.row
			.col-sm-8
				.temple-collections__data-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
					img.temple-collections__bg-content(src="./img/shivam/bgimg-slider2.png" alt="gold coin")
					.temple-collections__data-content
						ul.temple-collections__data-slider
							li.temple-collections__data-slide
								img.temple-collections__data-img(src="./img/shivam/coin-img.png" alt="gold coin")
								h2.temple-collections__data-title
									|	Limited Collection 
									br
									span
										|	1 Lerom ipsum
								p.temple-collections__data-desc
									|	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.						
						
							li.temple-collections__data-slide
								img.temple-collections__data-img(src="./img/shivam/coin-img.png" alt="gold coin")
								h2.temple-collections__data-title
									|	Limited Collection 
									br
									span
										|	2 Lerom ipsum
								p.temple-collections__data-desc
									|	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.						
						
							li.temple-collections__data-slide
								img.temple-collections__data-img(src="./img/shivam/coin-img.png" alt="gold coin")
								h2.temple-collections__data-title
									|	Limited Collection 
									br
									span
										|	3 Lerom ipsum
								p.temple-collections__data-desc
									|	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.						
						
			.col-sm-4
				.temple-collections__wrapper(data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500")

					.temple-collections__coin-content

						ul.temple-collections__coin-slider
							li.temple-collections__coin-slide
								img.shivam-banner__coin-img(src="./img/shivam/coin-img.png" alt="coin")

							li.temple-collections__coin-slide
								img.shivam-banner__coin-img(src="./img/shivam/coin-img.png" alt="coin")

							li.temple-collections__coin-slide
								img.shivam-banner__coin-img(src="./img/shivam/coin-img.png" alt="coin")

					h1.temple-collections__heading(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
						|   temple 
						br
						|	collections

					ul.temple-collections__coin-slider2(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
						li.temple-collections__coin-slide2
							a.temple-collections__nav-item(href="javascript:void(0);")
								h2.temple-collections__nav-item__number
									|	01
								h2.temple-collections__nav-item__content
									|	coin name
									br
									span
										|	coin name
						li.temple-collections__coin-slide2
							a.temple-collections__nav-item(href="javascript:void(0);")
								h2.temple-collections__nav-item__number
									|	02
								h2.temple-collections__nav-item__content
									|	coin name
									br
									span
										|	coin name
						li.temple-collections__coin-slide2
							a.temple-collections__nav-item(href="javascript:void(0);")
								h2.temple-collections__nav-item__number
									|	03
								h2.temple-collections__nav-item__content
									|	coin name
									br
									span
										|	coin name

