section.temple-collections
	.container
		.row
			.col-sm-8
				.temple-collections__data-wrapper
					img.temple-collections__bg-content(src="./img/shivam/bgimg-slider2.png" alt="gold coin")
					.temple-collections__data-content
						img.temple-collections__data-img(src="./img/shivam/coin-img.png" alt="gold coin")
						h2.temple-collections__data-title
							|	Limited Collection 
							br
							span
								|	Lerom ipsum
						p.temple-collections__data-desc
							|	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
			.col-sm-4
				.temple-collections__wrapper

					.temple-collections__coin-content

						ul.temple-collections__coin-slider
							li
								img.shivam-banner__coin-img(src="./img/shivam/coin-img.png" alt="coin")

							li
								img.shivam-banner__coin-img(src="./img/shivam/coin-img.png" alt="coin")

							li
								img.shivam-banner__coin-img(src="./img/shivam/coin-img.png" alt="coin")

					h1.temple-collections__heading
						|   temple 
						br
						|	collections

					ul.temple-collections__coin-slider2
						li
							a.temple-collections__nav-item(href="javascript:void(0);")
								h2.temple-collections__nav-item__number
									|	01
								h2.temple-collections__nav-item__content
									|	coin name
									br
									span
										|	coin name
						li
							a.temple-collections__nav-item(href="javascript:void(0);")
								h2.temple-collections__nav-item__number
									|	02
								h2.temple-collections__nav-item__content
									|	coin name
									br
									span
										|	coin name
						li
							a.temple-collections__nav-item(href="javascript:void(0);")
								h2.temple-collections__nav-item__number
									|	03
								h2.temple-collections__nav-item__content
									|	coin name
									br
									span
										|	coin name

