$grey: #808080;
$icon-color: #f08080;
$black-333: #333333;

$white: #ffffff;
$white-ccc: #cccccc;
$white-fcfc: #fcfcfc;

$blue-f5d: #002f5d;

$golden-f89: #d89f59;

$footer-bg: #f4f4f4;

$screen-sm: 475px;
$screen-md: 765px;
$screen-lg: 992px;
$screen-xlg: 1200px;

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$playfair-dc: 'Playfair Display SC', serif;