.btn {
    text-decoration: none !important;
    text-transform: uppercase;
    border: 1px solid #ececec;
    color: #999;
    font-family: $playfair-dc;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0px;
    
    @media screen and (min-width: $screen-md) {
        padding: 20px 30px;
        font-size: 18px;
    }

    &--gold {
        &,
        &hover,
        &:focus,
        &:active {
            color: #b1844d !important;
            border: 1px solid #b1844d;
        }
    }

    &--white {
        font-size: 14px;
        padding: 10px 15px;
        color: #ffffff !important;
        border: 1px solid #ffffff;
    }

}