.sl-nav {
    position: relative;
}
.submenus-container {
    overflow: hidden;
    max-width: 1240px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -99;
    display: block;
    opacity: 0;
    transition: all 0.5s ease;
    min-height: 310px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-top: 1px solid #eee;

    // &.active {
    //     opacity: 1;
    //     z-index: 99;
    // }

}

.submenus {
    position: absolute;
    width: 1000%;
    overflow: hidden;
    padding-top: 27px;
    min-height: 310px;
    background: #fff;
    transition: all 2s ease-in;
}

.post {
    float: left;
    width: 10%; 
}