.sl-whats-new {
    padding: 30px 0px 60px 0;
    background-color: #fdfdfd;
    
    @media (min-width: $screen-md) {
        padding: 60px 0px 250px 0;
    }

    &__card {
        background-color: $white;
        padding: 20px;
        position: relative;
        height: 200px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 4px 6px 68px 0px rgba(0,0,0,0.15);
        
        @media (min-width: $screen-sm) {
            height: 220px;
            width: 400px;
        }
        
        @media (min-width: $screen-md) {
            height: 300px;
            width: 100%;
        }

        &__title {
            margin: 0;
            text-transform: uppercase;
            font-family: $raleway;
            font-weight: 300;
            line-height: 10px;
            margin-bottom: 10px;
            color: $blue-f5d;
        }

        &__img {
            position: absolute;
            height: 150px;
            transition: all 1s ease-out;

            @media (min-width: $screen-sm) {
                height: 200px;
            }

            @media (min-width: $screen-md) {
                height: 220px;
            }
            
            @media (min-width: $screen-xlg) {
                height: 250px;
            }
            
        }

        &__link {
            margin: 0;
            text-transform: uppercase;
            font-family: $raleway;
            font-weight: 300;
            color: $blue-f5d;
        }

        &--1 {
            
            margin-bottom: 50px;

            &.active {
                .sl-whats-new__card__img {
                    transform: translateY(-30%);
                }
            }
            .sl-whats-new__card__img {
                transform: translateY(-10px);
                left: 50px;
               
                @media (min-width: $screen-md) {
                    transform: translateY(5%);
                }
               
                @media (min-width: $screen-lg) {
                    transform: translateY(5%);
                }

            }
            .sl-whats-new__card__data {
                position: absolute;
                bottom: 20px;
                right: 30px;
            }
        }

        &--2 {
            
            @media (min-width: $screen-md) {
                position: relative;
                top: 60px;
                height: 250px;
            }

            &.active {
                .sl-whats-new__card__img {
                    transform: translateY(-30%);
                }
            }

            .sl-whats-new__card__img {

                transform: translateY(-10px);
                left: 30px;

                @media (min-width: $screen-sm) {
                    transform: translateY(-5%);
                    left: 50px;
                }
                @media (min-width: $screen-md) {
                    transform: translateY(2%);
                }
                @media (min-width: $screen-lg) {
                    transform: translateY(5%);
                    left: 100px;
                }
            }
            .sl-whats-new__card__data {
                position: absolute;
                top: 30px;
                right: 40px;
            }
            
        }

        &--3 {

            margin-top: 30px;

            &.active {
                .sl-whats-new__card__img {
                    transform: translateY(-35%);
                }
            }

            .sl-whats-new__card__img {
                transform: translateY(-10px);
                right: 14px;

                @media (min-width: $screen-md) {
                    transform: translateY(0px);
                    right: 60px;                
                }
                
                @media (min-width: $screen-lg) {
                    transform: translateY(0px);
                    right: 60px;                
                }

            }
            .sl-whats-new__card__data {
                position: absolute;
                top: 20px;
                left: 30px;
                
                @media (min-width: $screen-md) {
                    transform: translateY(-20px);
                    top: initial;
                    bottom: 0px;
                    right: 60px;                
                }

            }
        }

        &--4 {

            margin-top: 60px;         

            @media (min-width: $screen-md) {
                position: relative;
                top: 60px;
                margin-top: 0px;
            }

            &.active {
                .sl-whats-new__card__img {
                    transform: translateY(-30%);
                    @media (min-width: $screen-md) {
                        transform: translateY(-30%);
                    }
                }
            }

            .sl-whats-new__card__img {
                transform: translateY(-10px);
                right: 50px;
               
                @media (min-width: $screen-md) {
                transform: translateY(-10px);                
               }

               @media (min-width: $screen-lg) {
                transform: translateY(5%);
                right: 100px;
               }
            }
            .sl-whats-new__card__data {
                position: absolute;
                bottom: 20px;
                left: 20px;
            }
        }

    }

}
