nav.sl-navigation
    .container
        .row
            .col-sm-12
                .sl-nav-main
                    a.sl-nav__ham-menu(href="javascript:void(0);")
                            img.sl-nav__menu-button(src="./img/menu-button.svg" alt="=")
                    .sl-logo-container
                        a(href="javascript:void(0);")
                            img.sl-nav__logo(src="./img/logo.png" alt="shilpe lifestyle logo")
                    input.sl-nav-main__search(type="text")
        .row
            .col-sm-12
                ul.sl-nav
                    li
                        a.sl-nav__link(href="javascript:void(0);")
                            | new arrivals
                    li
                        a.sl-nav__link(href="javascript:void(0);")
                            | jewellary
                    li
                        a.sl-nav__link(href="javascript:void(0);")
                            | bridals
                    li
                        a.sl-nav__link(href="javascript:void(0);")
                            | collections
                    li
                        a.sl-nav__link(href="javascript:void(0);")
                            | showrooms
                    li
                        a.sl-nav__link(href="javascript:void(0);")
                            | contact us
                    li
                        a.sl-nav__link(href="javascript:void(0);")
                            img.sl-nav__menu-button(src="./img/menu-button.svg" alt="=")
        .row
            .col-sm-12
                .submenus-container
                    .submenus
                        .post#submenu-1
                            h1 1
                        .post#submenu-2
                            h1 2
                        .post#submenu-3
                            h1 3
                        .post#submenu-4
                            h1 4
