nav.sl-navigation
    .container
        .row
            .col-sm-12
                .sl-nav-main
                    a.sl-nav__ham-menu(href="javascript:void(0);")
                            img.sl-nav__menu-button(src="./img/menu-button.svg" alt="=")
                    .sl-logo-container
                        a(href="javascript:void(0);")
                            img.sl-nav__logo(src="./img/logo.png" alt="shilpe lifestyle logo")
                    input.sl-nav-main__search(type="text")
        .row
            .col-sm-12
                ul.sl-nav
                    li.sl-nav__link-item
                        a.sl-nav__link(href="javascript:void(0);")
                            | new arrivals
                        .sub-menu-wrapper
                            ul.sl-mega-menu
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data new arrivals
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 1
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 2
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 3

                    li.sl-nav__link-item
                        a.sl-nav__link(href="javascript:void(0);")
                            | jewellary
                        .sub-menu-wrapper
                            ul.sl-mega-menu
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data jewellary
                                 li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 1
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 2
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 3

                    li.sl-nav__link-item
                        a.sl-nav__link(href="javascript:void(0);")
                            | bridals
                        .sub-menu-wrapper
                            ul.sl-mega-menu
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data bridals
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 1
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 2
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 3

                    li.sl-nav__link-item
                        a.sl-nav__link(href="javascript:void(0);")
                            | collections
                        .sub-menu-wrapper
                            ul.sl-mega-menu
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data collections
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 1
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 2
                                li.sl-mega-menu__item
                                    h1.sl-mega-menu__data 3
                    li
                        a.sl-nav__link(href="javascript:void(0);")
                            | showrooms
                    li
                        a.sl-nav__link(href="javascript:void(0);")
                            | contact us
                    li
                        a(href="javascript:void(0);")
                            img.sl-nav__menu-button(src="./img/menu-button.svg" alt="=")