footer.sl-footer
    .container
        .row
            .col-xs-12.col-sm-2
                .sl-footer-logo-container
                    img(src="./img/logo.png")
            .col-xs-12.col-sm-5.sl-footer-list
                ul.sl-footer__list
                    li
                        h2.sl-footer__list__heading about us
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   our mission
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   customer stories
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   design & craftmanship
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   diamond for everyone
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   careers
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   terms & conditions
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   privacy policy
                
                ul.sl-footer__list
                    li
                        h2.sl-footer__list__heading.text-blue customer services
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   custom design
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   delivery information
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   gurantees
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   refunds / exchanges
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   packaging
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   insurance
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   vai experience store
                            
            .col-xs-12.col-sm-5.sl-footer-list
                ul.sl-footer__list
                    li
                        h2.sl-footer__list__heading.text-blue education
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   learn about diamond
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   the four c's
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   learn about sopptires
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   metal education
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   certified diamonds
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   blog
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   FAQ's

                ul.sl-footer__list
                    li
                        h2.sl-footer__list__heading.text-blue contact us
                    li
                        p.sl-footer__list__tel
                            |   1-800-4250-4949 (TOLL FREE)
                    li
                        p.sl-footer__list__tel
                            |   +91-484-237-4949
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   customerservices@shilpa.com
                    li
                        a.sl-footer__list__link(href="javascript:void(0);")
                            |   diamond for everyone
.copyright-section
    .container-fluid
        .row
            .col-xs-12.copy-container
                p.sl-footer__copyright shilpa lifestyle