head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
    link(rel="favicon"  href="favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,500,600" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css" rel="stylesheet")

    link(href="css/main.css" rel="stylesheet")

    title Shilpa Lifestyle