script(src='js/plugins/modernizr.min.js')
script(src='js/plugins/jquery-2.1.4.js')
script(src='js/plugins/bootstrap.min.js')
script(src='js/plugins/slick.min.js')
script(src='js/plugins/aos.js')

script(src='js/main.js')
script(src='js/aos-init.js')
script(src='js/slick-carousel.js')