section.products-banner
    .container-fluid
        .row
            .col-sm-12.padding0
               .products-banner__wrapper
                    img.products-banner__image(src="./img/products/banner.png" alt="banner")
                    .products-banner__content
                        h1.products-banner__heading
                            |   handcrafted
                            br
                            span
                                |   with own story
                        p.products-banner__desc
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry.