section
    .container-fluid
        .row
            .col-sm-12.padding0
                ol.breadcrumb.products-breadcrumbs
                    li
                        a(href="#")
                            |   home
                    li.active
                        |   collection