section.pratham-collections
    .container
        .row
            .col-sm-12
                h1.pratham-collections__heading(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                    |   collections
        .row
            .col-sm-12
                ul.pratham-collections__slider
                    li.pratham-collections__slide
                        .pratham-collections__slide__content(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            img.pratham-collections__slide__content__img(src="./img/pratham/pr-collection-slide1.png")
                            .pratham-collections__slide__content__data
                                h1.pratham-collections__slide__content__title
                                    |   lorem ipsum
                                p.pratham-collections__slide__content__sub-title
                                    |   lorem ipsum
                    li.pratham-collections__slide
                        .pratham-collections__slide__content(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            img.pratham-collections__slide__content__img(src="./img/pratham/pr-collection-slide2.png")
                            .pratham-collections__slide__content__data
                                h1.pratham-collections__slide__content__title
                                    |   lorem ipsum
                                p.pratham-collections__slide__content__sub-title
                                    |   lorem ipsum
                    li.pratham-collections__slide
                        .pratham-collections__slide__content(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            img.pratham-collections__slide__content__img(src="./img/pratham/pr-collection-slide3.png")
                            .pratham-collections__slide__content__data
                                h1.pratham-collections__slide__content__title
                                    |   lorem ipsum
                                p.pratham-collections__slide__content__sub-title
                                    |   lorem ipsum
                    li.pratham-collections__slide
                        .pratham-collections__slide__content(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            img.pratham-collections__slide__content__img(src="./img/pratham/pr-collection-slide4.png")
                            .pratham-collections__slide__content__data
                                h1.pratham-collections__slide__content__title
                                    |   lorem ipsum
                                p.pratham-collections__slide__content__sub-title
                                    |   lorem ipsum
                    li.pratham-collections__slide
                        .pratham-collections__slide__content(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            img.pratham-collections__slide__content__img(src="./img/pratham/pr-collection-slide1.png")
                            .pratham-collections__slide__content__data
                                h1.pratham-collections__slide__content__title
                                    |   lorem ipsum
                                p.pratham-collections__slide__content__sub-title
                                    |   lorem ipsum
                    li.pratham-collections__slide
                        .pratham-collections__slide__content(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            img.pratham-collections__slide__content__img(src="./img/pratham/pr-collection-slide2.png")
                            .pratham-collections__slide__content__data
                                h1.pratham-collections__slide__content__title
                                    |   lorem ipsum
                                p.pratham-collections__slide__content__sub-title
                                    |   lorem ipsum