section.pratham-limited
	.container
		.row
			.col-sm-8
				ul.pratham-banner__slider2
					li.pratham-banner__slide2
						img.pratham-banner__slider2-img(src="./img/pratham/mini-sliderimg.png" alt="banner slider img")
						.pratham-banner__slide2__data
							h1.pratham-banner__slide2__title
								|   lorem ipsum
							p.pratham-banner__slide2__sub-title
								|   lorem ipsum
					li.pratham-banner__slide2
						img.pratham-banner__slider2-img(src="./img/pratham/mini-sliderimg2.png" alt="banner slider img")
						.pratham-banner__slide2__data
							h1.pratham-banner__slide2__title
								|   lorem ipsum
							p.pratham-banner__slide2__sub-title
								|   lorem ipsum
					li.pratham-banner__slide2
						img.pratham-banner__slider2-img(src="./img/pratham/mini-sliderimg3.png" alt="banner slider img")
						.pratham-banner__slide2__data
							h1.pratham-banner__slide2__title
								|   lorem ipsum
							p.pratham-banner__slide2__sub-title
								|   lorem ipsum

				.pratham-limited__content-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
					h2.pratham-limited__title
						|   Limited Collection
					p.pratham-limited__desc
						|   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					a.btn.btn--green.margin-bottom--6(href="javascript:void(0);")
							|   see collection
			.col-sm-4
				.img-wrapper(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
					img.pratham-limited__flower-img(src="./img/pratham/flower-bgimg.png" alt="flower")