section.pratham-products
    .container
        .row
            .col-sm-12.text-center
                .pratham-products__header-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                    h2.pratham-products__heading
                        |   lorem ipsum
                    p.pratham-products__sub-heading
                        |   lorem ipsum
        .row
           .product-wrapper
                .col-sm-6
                    .pratham-products__content(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        h1.pratham-products__content__heading
                            |   lorem ipsum
                        p.pratham-products__content__desc
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        img.pratham-products__content__bgimg1(src="./img/pratham/product1-bgimg.png" alt="product1")
                .col-sm-6
                    .pratham-products__img-content(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        .pratham-products__img-wrapper
                            img.pratham-products__product-img(src="./img/pratham/pratham-product1.png" alt="pratham product")
        .row
            .col-sm-12.text-center
                .pratham-products__header-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                    h2.pratham-products__heading
                        |   lorem ipsum
                    p.pratham-products__sub-heading
                        |   lorem ipsum
        .row
           .product-wrapper.product-wrapper--2
                .col-sm-6
                    .pratham-products__img-content
                        .pratham-products__img-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            img.pratham-products__product-img(src="./img/pratham/pratham-product2.png" alt="pratham product")
                .col-sm-6
                    .pratham-products__content(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        h1.pratham-products__content__heading
                            |   lorem ipsum
                        p.pratham-products__content__desc
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        img.pratham-products__content__bgimg2(src="./img/pratham/product2-bgimg.png" alt="product1")
                        a.btn.btn--green.margin-bottom--6(href="javascript:void(0);")	see collection