section.bhupi-banner
    .container
        .row
            .col-sm-12
                .bhupi-banner__wrapper
                    
                    ul.bhupi-banner__slider
                        li.bhupi-banner__slide
                            img.bhupi-banner__slider-img(src="./img/bhupi/banner.png" alt="banner image")
                        li.bhupi-banner__slide
                            img.bhupi-banner__slider-img(src="./img/bhupi/banner.png" alt="banner image")
                        li.bhupi-banner__slide
                            img.bhupi-banner__slider-img(src="./img/bhupi/banner.png" alt="banner image")

                    .bhupi-banner__card
                        img(src="./img/bhupi/bhupi-logo.png" alt="logo")
                        p.bhupi-banner__desc
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.

                    .bhupi-banner__content
                        h2.bhupi-banner__heading
                            |   Handcrafted 
                            br
                            span
                                |   with own story
                        p.bhupi-banner__sub-heading
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry.