section.bhupi-collections
    .container
        .row
            .col-sm-12
                h1.bhupi-collections__heading
                    |   collections
        .row
            .col-sm-8
                .bhupi-collections__slider-index
                    |   0
                ul.bhupi-collections__img-slider
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
            .col-sm-4
                ul.bhupi-collections__nav-slider
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav-2.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav-2.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav-2.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav-2.png" alt="collections slide img")