section.bhupi-collections
    .container
        .row
            .col-sm-12
                h1.bhupi-collections__heading
                    |   collections
        .row
            .col-sm-8(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="1000" data-aos-duration="1500")
                .bhupi-collections__slider-index
                    |   0
                ul.bhupi-collections__img-slider
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                        .bhupi-collections__img-slide__data
                            h3.bhupi-collections__img-slide__data__title
                                |   limited collection
                            p.bhupi-collections__img-slide__data__sub-title
                                |   lorem ipsum
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                        .bhupi-collections__img-slide__data
                            h3.bhupi-collections__img-slide__data__title
                                |   limited collection
                            p.bhupi-collections__img-slide__data__sub-title
                                |   lorem ipsum
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                        .bhupi-collections__img-slide__data
                            h3.bhupi-collections__img-slide__data__title
                                |   limited collection
                            p.bhupi-collections__img-slide__data__sub-title
                                |   lorem ipsum
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                        .bhupi-collections__img-slide__data
                            h3.bhupi-collections__img-slide__data__title
                                |   limited collection
                            p.bhupi-collections__img-slide__data__sub-title
                                |   lorem ipsum
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                        .bhupi-collections__img-slide__data
                            h3.bhupi-collections__img-slide__data__title
                                |   limited collection
                            p.bhupi-collections__img-slide__data__sub-title
                                |   lorem ipsum
                    li.bhupi-collections__img-slide
                        img(src="./img/bhupi/img-slide-1.png" alt="collections slide img")
                        .bhupi-collections__img-slide__data
                            h3.bhupi-collections__img-slide__data__title
                                |   limited collection
                            p.bhupi-collections__img-slide__data__sub-title
                                |   lorem ipsum
            .col-sm-4(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="2500")
                ul.bhupi-collections__nav-slider
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav-2.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav-2.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav.png" alt="collections slide img")
                    li.bhupi-collections__nav-slide
                        img(src="./img/bhupi/img-slider-nav-2.png" alt="collections slide img")