section.bhupi-collection
	.container
		.row
			.col-sm-6
				.bhupi-collection__content-wrapper
					h2.bhupi-collection__title
						|   Limited Collection
					p.bhupi-collection__desc
						|   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.Lorem Ipsum has been the industry's standard dummy. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					a.btn.btn--green(href="javascript:void(0);")
							|   see collection
			.col-sm-6
				ul.bhupi-collection__slider
					li.bhupi-collection__slide
						img.bhupi-collection__slide__img(src="./img/bhupi/bhupi-jewel-slider-img.png" alt="jewel")
						p.bhupi-collection__slide__title
							|	Lorem ipsum
						p.bhupi-collection__slide__sub-title
							|	Lorem ipsum
					li.bhupi-collection__slide
						img.bhupi-collection__slide__img(src="./img/bhupi/bhupi-jewel-slider-img.png" alt="jewel")
						p.bhupi-collection__slide__title
							|	Lorem ipsum
						p.bhupi-collection__slide__sub-title
							|	Lorem ipsum
					li.bhupi-collection__slide
						img.bhupi-collection__slide__img(src="./img/bhupi/bhupi-jewel-slider-img.png" alt="jewel")
						p.bhupi-collection__slide__title
							|	Lorem ipsum
						p.bhupi-collection__slide__sub-title
							|	Lorem ipsum
					li.bhupi-collection__slide
						img.bhupi-collection__slide__img(src="./img/bhupi/bhupi-jewel-slider-img.png" alt="jewel")
						p.bhupi-collection__slide__title
							|	Lorem ipsum
						p.bhupi-collection__slide__sub-title
							|	Lorem ipsum
					li.bhupi-collection__slide
						img.bhupi-collection__slide__img(src="./img/bhupi/bhupi-jewel-slider-img.png" alt="jewel")
						p.bhupi-collection__slide__title
							|	Lorem ipsum
						p.bhupi-collection__slide__sub-title
							|	Lorem ipsum
					li.bhupi-collection__slide
						img.bhupi-collection__slide__img(src="./img/bhupi/bhupi-jewel-slider-img.png" alt="jewel")
						p.bhupi-collection__slide__title
							|	Lorem ipsum
						p.bhupi-collection__slide__sub-title
							|	Lorem ipsum