section.sl-withlove
    .sl-withlove__img-container
        img(src="./img/created-for-love.png")
    .sl-withlove__banner-content
        .sl-withlove__card.sl-withlove__card--grey
            h3.sl-withlove__card__title
                |   Created for Love
            p.sl-withlove__card__desc
                |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            img.sl-withlove__card__sign(src="./img/sign.png" alt="signature")
        
        .sl-withlove__card.sl-withlove__card--blue
            h3.sl-withlove__card--blue__title
                |   The Best Way to Show
                br
                span
                    |   your love
            a.button.button--white(href="javascript:void(0);")
                |   see collection