section.sl-withlove
	.container
		.row
			.sl-withlove-container
				.sl-withlove__card.sl-withlove__card--1
					img.sl-withlove__img(src="./img/created-for-love.png")
				.sl-withlove__card.sl-withlove__card--2
					.sl-withlove__details-card
						h1.sl-withlove__details-card__title
							|   Created for Love
						p.sl-withlove__details-card__desc
							|   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						img(src="./img/sign.png" alt="signature")
					.sl-withlove__details-card.sl-withlove__details-card--2
						h1.sl-withlove__details-card--2__title
							|   The Best Way to Show
							br
							span
								|   Your Love
						a.btn.btn--white(href="javascript:void(0);")
							|   see collection