section.sl-withlove
    .container
        .row
            .col-xs-12.sl-withlove-container
                .row
                    .col-xs-12.col-sm-6.sl-withlove__img-container
                        img(src="./img/created-for-love.png" alt="created for love")
                    .col-xs-12.col-sm-6
                        .sl-withlove__card.sl-withlove__card--grey
                            h3.sl-withlove__card__title
                                |   Created for Love
                            p.sl-withlove__card__desc
                                |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            img(src="./img/sign.png")
                        .sl-withlove__card.sl-withlove__card--blue