section.sl-custom-made
    .container
        .row
            .col-xs-12
                .sl-custom-made__content
                    h2.sl-custom-made__title
                        |   
                        span
                            |   world of 
                        br
                        |   custom made
                    p.sl-custom-made__desc.margin-bottom--3
                        |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    a.btn.btn--white(href="javascript:void(0);")
                        |   see collection