section.sl-featured
    .container
        .row
            .col-sm-12
                .featured-slider
                    .featured-slider__slide
                        .featured-slider__data
                            img.featured-slider__logo(src="../img/fs-brand-logo.png" alt="brand logo")
                            p.featured-slider__desc
                                |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                                |   has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply duammy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy  dummy text of the printing and typesetting industry. Lorem Ipsum
                        .featured-slider__img-data
                            img.featured-slider__img(src="./img/fs-img.png")
                            h3.featured-slider__title
                                |   diamond claw
                            p.featured-slider__sub-title
                                |   view collection
                    .featured-slider__slide
                        .featured-slider__data
                            img.featured-slider__logo(src="../img/fs-brand-logo.png" alt="brand logo")
                            p.featured-slider__desc
                                |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                                |   has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply duammy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy  dummy text of the printing and typesetting industry. Lorem Ipsum
                        .featured-slider__img-data
                            img.featured-slider__img(src="./img/fs-img.png")
                            h3.featured-slider__title
                                |   diamond claw
                            p.featured-slider__sub-title
                                |   view collection
                    .featured-slider__slide
                        .featured-slider__data
                            img.featured-slider__logo(src="../img/fs-brand-logo.png" alt="brand logo")
                            p.featured-slider__desc
                                |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                                |   has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply duammy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy  dummy text of the printing and typesetting industry. Lorem Ipsum
                        .featured-slider__img-data
                            img.featured-slider__img(src="./img/fs-img.png")
                            h3.featured-slider__title
                                |   diamond claw
                            p.featured-slider__sub-title
                                |   view collection