section.sl-intro-banner
    .container
        .row
            .col-xs-12
                .sl-intro-banner__slider
                    .sl-intro-banner__slide
                        .sl-intro-banner__content
                            h2.sl-intro-banner__title
                                |   
                                span
                                    |   handcrafted jewellary
                                br
                                |   with own story
                            p.sl-intro-banner__desc.margin-bottom--6
                                |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            a.link.link--gold(href="javascript:void(0);")
                                |   see collection
                    .sl-intro-banner__slide
                        .sl-intro-banner__content
                            h2.sl-intro-banner__title
                                |   
                                span
                                    |   handcrafted jewellary
                                br
                                |   with own story
                            p.sl-intro-banner__desc.margin-bottom--6
                                |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            a.link.link--gold(href="javascript:void(0);")
                                |   see collection
                    .sl-intro-banner__slide
                        .sl-intro-banner__content
                            h2.sl-intro-banner__title
                                |   
                                span
                                    |   handcrafted jewellary
                                br
                                |   with own story
                            p.sl-intro-banner__desc.margin-bottom--6
                                |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            a.link.link--gold(href="javascript:void(0);")
                                |   see collection