section.sl-intro-banner
    .sl-intro-banner__content
        h2.sl-intro-banner__title
            |   
            span
                |   handcrafted jewellary
            br
            |   with own story
        p.sl-intro-banner__desc
            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .sl-intro-banner__jewel
        img(src="./img/banner.png")