section.sl-newsletter
    .sl-newsletter__heading
        |   newsletter
    
    .sl-newsletter__sub-heading
        |   we promise to send only good things

    form(action="")
        label(for="email")
            input.sl-newsletter__input(type="email" placeholder="enter your email" id="email" name="email" required)
            button.sl-newsletter__submit-btn(type="submit")
                |   GO