section.sl-showrooms
    .container-fluid
        .row
            .col-xs-12.col-sm-6.text-center.overflow-hidden
                .sl-showrooms__card.sl-showrooms__card--gold
                    img(src="./img/showroom-bgimg.jpg")
                    .sl-showrooms__address
                        h2.sl-showrooms__address__title
                            |   store locator
                        p.sl-showrooms__address__desc
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        a.btn.btn--white(href="javascript:void(0);")
                            |   view map
            .col-xs-12.col-sm-6.text-center.overflow-hidden
                .sl-showrooms__card.sl-showrooms__card--blue
                    img(src="./img/showroom-bgimg.jpg")
                    .sl-showrooms__address
                        h2.sl-showrooms__address__title
                            |   store locator
                        p.sl-showrooms__address__desc
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        a.btn.btn--white(href="javascript:void(0);")
                            |   view map