section.breadcrumbs-section
    .container
        .row
            .col-sm-12
                ol.breadcrumb.products-breadcrumbs
                    li
                        a(href="#")
                            |   home
                    li
                        a(href="products.html")
                            |   collection
                    li.active
                        |   product name