section.product-details
    .container
        .row
            .col-sm-6
                img.product-details__img(src="./img/product-detail/product-img.png" alt="product img")
            .col-sm-6
                .product-details__content