section.product-details
    .container
        .row.details-wrapper
            .col-sm-6.padding0--right
                .product-details__img-wrapper
                    img.product-details__img(src="./img/product-detail/product-img.png" alt="product img")
            .col-sm-6.padding0--left
                .product-details__content
                    h2.product-details__content__name
                        |   Curabitur cursus dignis
                    p.product-details__content__model
                        |   MODEL : 
                        span
                            |   JR00NHM
                    
                    .product-details__data-container
                        
                        .product-details__data-wrapper
                            p.product-details__data-text
                                |   Collection    
                            p.product-details__data-seperator 
                                |   -
                            p.product-details__data-desc
                                |   JEWELS OF RAJPUTANA 
                        
                        .product-details__data-wrapper
                            p.product-details__data-text
                                |   product    
                            p.product-details__data-seperator 
                                |   -
                            p.product-details__data-desc
                                |   necklace
                        
                        .product-details__data-wrapper
                            p.product-details__data-text
                                |   weight    
                            p.product-details__data-seperator 
                                |   -
                            p.product-details__data-desc
                                |   64.87 g 
                        
                        .product-details__data-wrapper
                            p.product-details__data-text
                                |   karat    
                            p.product-details__data-seperator 
                                |   -
                            p.product-details__data-desc
                                |   22k 

                    p.product-details__content__desc
                        |   Designed with Rajasthani rubies in thakkar setting, this necklace has exclusive piroi beadwork embellishing its beauty.
                    p.product-details__content__price
                        |   ₹ 6,30,000 
                        span
                            |   (Approx)