section.product-related
    .container
         .row
            .col-sm-12
                h1.product-related__heading
                    |   other inspirations
        .row
            .col-sm-12
                ul.product-related__slider
                    li.product-related__slide
                        a.products-gallery__card(href="product-detail.html")
                            .products-gallery__card__header
                                img.products-gallery__card__img(src="./img/products/product1.png" alt="product")
                            .products-gallery__card__action
                                p.products-gallery__card__title
                                    |   lorem ipsum
                                p.products-gallery__card__price
                                    |   ₹ 330569
                    li.product-related__slide
                        a.products-gallery__card(href="product-detail.html")
                            .products-gallery__card__header
                                img.products-gallery__card__img(src="./img/products/product2.png" alt="product")
                            .products-gallery__card__action
                                p.products-gallery__card__title
                                    |   lorem ipsum
                                p.products-gallery__card__price
                                    |   ₹ 330569
                    li.product-related__slide
                        a.products-gallery__card(href="product-detail.html")
                            .products-gallery__card__header
                                img.products-gallery__card__img(src="./img/products/product3.png" alt="product")
                            .products-gallery__card__action
                                p.products-gallery__card__title
                                    |   lorem ipsum
                                p.products-gallery__card__price
                                    |   ₹ 330569
                    li.product-related__slide
                        a.products-gallery__card(href="product-detail.html")
                            .products-gallery__card__header
                                img.products-gallery__card__img(src="./img/products/product4.png" alt="product")
                            .products-gallery__card__action
                                p.products-gallery__card__title
                                    |   lorem ipsum
                                p.products-gallery__card__price
                                    |   ₹ 330569
                    li.product-related__slide
                        a.products-gallery__card(href="product-detail.html")
                            .products-gallery__card__header
                                img.products-gallery__card__img(src="./img/products/product5.png" alt="product")
                            .products-gallery__card__action
                                p.products-gallery__card__title
                                    |   lorem ipsum
                                p.products-gallery__card__price
                                    |   ₹ 330569
                    li.product-related__slide
                        a.products-gallery__card(href="product-detail.html")
                            .products-gallery__card__header
                                img.products-gallery__card__img(src="./img/products/product6.png" alt="product")
                            .products-gallery__card__action
                                p.products-gallery__card__title
                                    |   lorem ipsum
                                p.products-gallery__card__price
                                    |   ₹ 330569
                    li.product-related__slide
                        a.products-gallery__card(href="product-detail.html")
                            .products-gallery__card__header
                                img.products-gallery__card__img(src="./img/products/product7.png" alt="product")
                            .products-gallery__card__action
                                p.products-gallery__card__title
                                    |   lorem ipsum
                                p.products-gallery__card__price
                                    |   ₹ 330569
                    li.product-related__slide
                        a.products-gallery__card(href="product-detail.html")
                            .products-gallery__card__header
                                img.products-gallery__card__img(src="./img/products/product8.png" alt="product")
                            .products-gallery__card__action
                                p.products-gallery__card__title
                                    |   lorem ipsum
                                p.products-gallery__card__price
                                    |   ₹ 330569