.chocolate-banner {
    
    &__wrapper {
        @media (min-width: $screen-md) {
            display: flex;
        }
    }

    &__logo-wrapper {
        background-color: #512d1b;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    &__play-btn {
        &,
        &:active,
        &:focus,
        &:hover {
            position: absolute;
            top: 20px;
            left: 0px;
            @media (min-width: $screen-md) {
                left: 150px;
            }
            @media (min-width: $screen-lg) {
                left: 200px;
            }
            @media (min-width: $screen-xlg) {
                left: 240px;
            }
            z-index: 9;
            display: block;
            margin: 0 auto;
            text-align: center;
            color: $white;
            position: relative;
            width: 150px;
            text-transform: uppercase;
            font-weight: 400;
            font-family: $raleway;
            padding: 10px 25px 10px 35px;
            background-color: #512d1d;
            border-radius: 26px;
            text-decoration: none;
            box-shadow: 1px 5px 18px 0 #512e1b;
        }

        &:before {
            top: 12px;
            left: 20px;
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            background: url('../img/play-btn.svg') no-repeat;
            background-size: cover;
        }

    }

    &__logo {
        height: 180px;
        max-width: 100%;
        @media (min-width: $screen-md) {
            height: 130px;
        }
        @media (min-width: $screen-lg) {
            height: 150px;
        }
        @media (min-width: $screen-xlg) {
            height: 170px;
        }
    }

    .content-1 {
        @media (min-width: $screen-md) {
            padding-right: 0;
        }
    }
    .content-2 {
        @media (min-width: $screen-md) {
            padding-left: 0;
        }
    }

    &__content-wrapper {
        padding: 30px;
        background-color: #faf8f8;
        @media (min-width: $screen-lg) {
            padding: 30px 70px 0px 70px;
        }
    }

    &__title {
        font-family: $playfair-dc;
        letter-spacing: 0.3px;
        font-size: 24px;
        line-height: 28px;
        span {
            font-size: 34px;
        }
        @media (min-width: $screen-lg) {
            font-size: 26px;
            line-height: 32px;
            span {
                font-size: 36px;
            }
        }
        @media (min-width: $screen-xlg) {
            font-size: 30px;
            span {
                font-size: 40px;
            }
        }
    }

    &__desc {
        font-family: $raleway;
        font-size: 12px;
        line-height: 22px;
    }

    &__slider-wrapper {
        // background: url('../img/chocolate/slider-bgimg.png') no-repeat;
        // background-size: cover;
        // background-position: center;
        min-height: 300px;
        height: 100%;
        width: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        .slick-dotted.slick-slider {
            margin-bottom: 0;
        }
    }

    &__slider {
        list-style-type: none;
        padding: 0;
        width: 100%;
        margin: 0;
        height: 100%;
        
        .slick-dots {
        
            bottom: 70px;
            left: 10px;
        
            li button:before {
                height: 12px;
                width: 12px;
                color: transparent;
                border: 1px solid #512d1b;
                border-radius: 30px;
                font-size: 8px;
                line-height: 12px;
            }

            li.slick-active button:before {
                color: #512d1b;
                height: 15px;
                width: 15px;
                font-size: 9px;
                line-height: 15px;
                top: -2px;
            }

        }

    }

    &__slide {
        margin: 0 auto;
        width: 100%;
    }

    &__slide-img {
        height: 100%;
        width: 100%;
        // margin: 0 auto;
        // @media (min-width: $screen-md) {
        //     height: 150px;
        // }
        // @media (min-width: $screen-lg) {
        //     height: 180px;
        // }
        // @media (min-width: $screen-xlg) {
        //     height: 220px;
        // }
    }

}