.chocolate-collections {
    padding: 50px;
    background-color: #ffffff;

    &__heading {
        font-family: $playfair-dc;
        font-size: 30px;
        margin-bottom: 40px;
        color: #ececec;

        @media (min-width: $screen-md) {
            font-size: 55px;
        }

    }

    &__slider {
        width: 100%;
        padding: 0;
        list-style-type: none;

        .slick-dots {
            bottom: -50px;
            @media (min-width: $screen-lg) {
                bottom: -70px;
            }
        }

        .slick-list {
            overflow: visible;
        }

    }

    &__slide {
        position: relative;
        width: 350px;
        overflow: visible;
        margin: 0 30px;
        transition: opacity 1s ease;

        @media (min-width: $screen-lg) {
            width: 500px;
        }
        
        &.slick-slide {
            opacity: 0.5;
        }

        &.slick-current.slick-active {
            opacity: 1;
        }

    }

    &__slide-wrapper {
        height: 180px;
        width: 210px;
        padding: 20px;
        border: 1px  solid lighten($color: #512d1b, $amount: 60);
        margin: 0px;
        overflow: visible;
        position: relative;

        @media (min-width: 600px) {
            width: 300px;
            height: 220px;
            margin: 0 20px;
        }
        
        @media (min-width: $screen-md) {
            width: 300px;
        }
       
        @media (min-width: $screen-lg) {
            width: 350px;
            margin: 0 40px;
        }

        &:hover {
            .chocolate-collections__slide-data {
                opacity: 1;
            }
        }

    }

    &__slide-data {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(92, 56, 35, 0.5);
        z-index: 99;
        opacity: 0;
        height: 150px;
        width: 215px;
        transform: translate(20px, 15px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: opacity 1s ease;

        @media (min-width: 600px) {
            height: 220px;
            width: 315px;
        }

        @media (min-width: $screen-lg) {
            height: 240px;
            width: 340px;
        }

        h2 {
            margin: 0 0 20px 0;
            color: $white;
            font-size: 20px;
            font-family: $playfair-dc;
        }
        a {
            &,
            &:hover,
            &:focus,
            &:active {
                margin: 0;
                color: $white;
                outline: 0;
                font-family: $playfair-dc;
                text-decoration: underline;
            }
        }
    }

    &__slide-img {
        height: 150px;
        transform: translate(0px, 25px);
        z-index: 99;
        position: absolute;
        top: -10px;
        transition: transform 1s ease;

        @media (min-width: 600px) {
            height: 220px;
        }

        @media (min-width: $screen-lg) {
            height: 240px;
        }

    }

}