
.shivam-main {
    background: url('../img/shivam/bg-pattern.png');
    background-repeat: repeat;
}

.shivam-banner {

        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    
        @media (min-width: 550px){
            padding-bottom: 0px;
        }
    
        &__wrapper {
           position: relative;
        }

        &__coin-slider {
            position: absolute;
            bottom: -20px;
            right: 0px;
            list-style-type: none;
        }

        &__coin-content {
           position: absolute;
           bottom: -30px;
           right: 80px;
           @media (min-width: $screen-md) {
               bottom: -60px;
           }
        }

        &__coin-img {
            width: 70px;
            margin: 0 auto;
            @media (min-width: $screen-md) {
                width: 120px;
            }
        }
    
        &__slider {
            list-style-type: none;
            padding: 0;
            margin: 0;
    
            .arrow-wrapper {
                position: absolute;
                bottom: 0px;
                left: -10px;
                z-index: 999;
                cursor: pointer;
    
                &--left {
    
                }
    
                &--right {
                    left: 20px;
                    @media (min-width: $screen-lg) {
                        left: 35px;
                    }
                }
    
            }
    
            .icon-arrow-left {
                padding: 10px;
                color: $white;
                background-color: #655341;
                @media (min-width: $screen-lg) {
                    padding: 15px;
                    font-size: 16px;
                }
            }
            .icon-arrow-right {
                color: $white;
                padding: 10px;
                background-color: #c49a3b;    
                @media (min-width: $screen-lg) {
                    padding: 15px;
                    font-size: 16px;
                }
            }
    
        }
    
        &__slider-img {
            height: 100%;
            width: 100%;
        }
    
        &__content {
            position: absolute;
            left: 60px;
            bottom: 40px;
    
            @media (min-width: $screen-md) {
                left: 60px;
                bottom: 100px;
            }
            @media (min-width: $screen-lg) {
                right: 0;
                margin-top: 50px;
            }
    
        }
    
        &__heading {
            font-family: $playfair-dc;
            color: $white;
            margin: 0;
            letter-spacing: 0.4px;
            
            font-size: 12px;
            span {
                font-size: 16px;
            }

            @media (min-width: $screen-md) {
                font-size: 20px;
                span {
                    font-size: 30px;
                }
            }
            @media (min-width: $screen-lg) {
                font-size: 25px;
                span {
                    font-size: 40px;
                }
            }
            @media (min-width: $screen-xlg) {
                font-size: 35px;
                span {
                    font-size: 50px;
                }
            }
        }
    
        &__sub-heading {
            font-family: $raleway;
            font-size: 10px;
            margin-top: 5px;
            color: $white;
            width: 80%;
            opacity: 0.6;
            @media (min-width: $screen-md) {
                width: 100%;
            }
        }
    
        &__card {
            text-align: center;
            padding: 20px;
            margin: 0 auto;
    
            @media (min-width: 550px) {
                padding: 40px 0px;
            }
           
            @media (min-width: $screen-lg) {
                padding: 100px 0px 0 0px;
            }
    
            img {
                margin: 0 auto;
                display: block;
                height: 40px;
                margin-bottom: 10px;
            }

            p {
                text-align: center;
                width: 80%;
                margin: 0 auto;
                @media (min-width:$screen-md) {
                    width: 100%;
                }
            }
    
        }
    
    }