.sl-header {
  border-bottom: 1px solid #ececec;
}
nav {
  position: relative;
}
// .sl-menu-button {
//   position: absolute;
//   right: 40px;
//   top: 35px;
// }
.sl-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  li {
    display: inline-block;
    margin-right: 10px;
  }

  &__link {
    font-family: $playfair-dc;
    font-size: 14px;
    padding: 0 6px;
    color: $blue-f5d;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    display: none;

    @media (min-width: $screen-md) {
      display:block;
    }
    @media (min-width: $screen-lg) {
      padding: 0px 20px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $golden-803;
      text-decoration: none;
    }

  }

  &__ham-menu {
    position: relative;
    transform: rotate(180deg);
  }

  &__menu-button {
    height: 12px;
    padding-left: 20px; 
  }

  &__logo {
    height: 50px;
    width: 100%;
    display: block;
  }

}

.sl-nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-top: 20px;

  &__search {
    margin-left: 20px;
    outline: 0;
    padding: 5px 10px;
    border-radius: 14px;
    box-shadow: none;
    border: 1px solid #edf0f4;
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-position: right 10px top 5px;

    @media (min-width: 500px) {
      margin-left: 80px;
    }

    @media (min-width: $screen-md) {
      position: absolute;
      right: 70px;
    }
    
    @media (min-width: $screen-xlg) {
      position: absolute;
      right: 170px;
    }

  }

}

.sl-footer {
  min-height: 100px;
  background-color: $footer-bg;
}

.sl-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}