section.chocolate-banner
    .container
        .row.chocolate-banner__wrapper
            .col-sm-5.col-md-5.col-lg-5.content-1
                .chocolate-banner__logo-wrapper
                    img.chocolate-banner__logo(src="./img/chocolate/brand-logo.png" alt="logo")
                .chocolate-banner__content-wrapper
                    p.chocolate-banner__title
                        |   Handcrafted 
                        br
                        span
                            |   with own
                            br
                            |    story
                    p.chocolate-banner__desc
                        |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    a.chocolate-banner__play-btn(href="javascript:void(0);")
                        |   watch video
            .col-sm-7.col-md-7.col-lg-7.content-2
                .chocolate-banner__slider-wrapper
                    ul.chocolate-banner__slider
                        li.chocolate-banner__slide
                            img.chocolate-banner__slide-img(src="./img/chocolate/banner-jewel.png" alt="slider image")
                        li.chocolate-banner__slide
                            img.chocolate-banner__slide-img(src="./img/chocolate/banner-jewel.png" alt="slider image")
                        li.chocolate-banner__slide
                            img.chocolate-banner__slide-img(src="./img/chocolate/banner-jewel.png" alt="slider image")
                        li.chocolate-banner__slide
                            img.chocolate-banner__slide-img(src="./img/chocolate/banner-jewel.png" alt="slider image")