section.chocolate-collections
    .container
        .row
            h1.chocolate-collections__heading(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                |   collections
        .row
            ul.chocolate-collections__slider
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")
                        .chocolate-collections__slide-data
                            h2
                                |   diamond claw
                            a(href="javascript:void(0);")
                                |   show more  
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")
                        .chocolate-collections__slide-data
                            h2
                                |   diamond claw
                            a(href="javascript:void(0);")
                                |   show more  
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")
                        .chocolate-collections__slide-data
                            h2
                                |   diamond claw
                            a(href="javascript:void(0);")
                                |   show more  
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")
                        .chocolate-collections__slide-data
                            h2
                                |   diamond claw
                            a(href="javascript:void(0);")
                                |   show more  
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")
                        .chocolate-collections__slide-data
                            h2
                                |   diamond claw
                            a(href="javascript:void(0);")
                                |   show more  