section.chocolate-collections
    .container
        .row
            h1.chocolate-collections__heading
                |   collections
        .row
            ul.chocolate-collections__slider
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")
                li.chocolate-collections__slide
                    .chocolate-collections__slide-wrapper
                        img.chocolate-collections__slide-img(src="./img/chocolate/slide2-img.png" alt="collections slider")