section.final-collection
    .container
        .row
            .col-sm-4
                img.final-collection__header-img(src="./img/chocolate/jewel-img.png" alt="new arrivals")
            .col-sm-8

                .chocolate-new-arrivals__content

                    h2.chocolate-new-arrivals__content-title(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        |   new arrivals
                    p.chocolate-new-arrivals__content-desc(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

                    .final-collection__slider-wrapper
                        ul.final-collection__slider
                            li.final-collection__slide(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                                .final-collection__slideimg-outline
                                img.final-collection__slide-img(src="./img/chocolate/final-collection-sliderimg.png" alt="final collection")
                            li.final-collection__slide(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                                .final-collection__slideimg-outline
                                img.final-collection__slide-img(src="./img/chocolate/final-collection-sliderimg.png" alt="final collection")
                            li.final-collection__slide(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                                .final-collection__slideimg-outline
                                img.final-collection__slide-img(src="./img/chocolate/final-collection-sliderimg.png" alt="final collection")
                            li.final-collection__slide(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                                .final-collection__slideimg-outline
                                img.final-collection__slide-img(src="./img/chocolate/final-collection-sliderimg.png" alt="final collection")

                    .content3-wrapper
                        h2.chocolate-new-arrivals2__content-title(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   limited collection
                        p.chocolate-new-arrivals2__content-desc(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        a.btn.btn--gold(href="javascript:void(0);" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="5000" data-aos-duration="1500")
                            |   see collection