section.chocolate-new-arrivals
    .container
        .row
            .col-sm-5
                .chocolate-new-arrivals__slider-wrapper
                    ul.chocolate-new-arrivals__slider.arrivals-slider-1
                        li.chocolate-new-arrivals__slide
                            .chocolate-new-arrivals__slide-wrapper
                                img.chocolate-new-arrivals__slide-img(src="./img/chocolate/new-arrivals-sliderimg.png" alt="collections slider")
                                
                        li.chocolate-new-arrivals__slide
                            .chocolate-new-arrivals__slide-wrapper
                                img.chocolate-new-arrivals__slide-img(src="./img/chocolate/new-arrivals-sliderimg.png" alt="collections slider")
                       
                        li.chocolate-new-arrivals__slide
                            .chocolate-new-arrivals__slide-wrapper
                                img.chocolate-new-arrivals__slide-img(src="./img/chocolate/new-arrivals-sliderimg.png" alt="collections slider")
        
                        li.chocolate-new-arrivals__slide
                            .chocolate-new-arrivals__slide-wrapper
                                img.chocolate-new-arrivals__slide-img(src="./img/chocolate/new-arrivals-sliderimg.png" alt="collections slider")

                        li.chocolate-new-arrivals__slide
                            .chocolate-new-arrivals__slide-wrapper
                                img.chocolate-new-arrivals__slide-img(src="./img/chocolate/new-arrivals-sliderimg.png" alt="collections slider")
            .col-sm-7
                .chocolate-new-arrivals__content
                    h2.chocolate-new-arrivals__content-title
                        |   new arrivals
                    p.chocolate-new-arrivals__content-desc
                        |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    img.chocolate-new-arrivals__content-img(src="./img/chocolate/new-arrivals-1.png" alt="new arrivals")
