section.chocolate-new-arrivals2
    .container
        .row
            .col-sm-8
                .chocolate-new-arrivals2__content
                    h2.chocolate-new-arrivals2__content-title(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        |   new arrivals
                    p.chocolate-new-arrivals2__content-desc(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    .chocolate-new-arrivals2__slider-wrapper
                        ul.chocolate-new-arrivals2__slider.arrivals-slider-2
                            li.chocolate-new-arrivals2__slide
                                .chocolate-new-arrivals2__slide-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                                    img.chocolate-new-arrivals2__slide-img(src="./img/chocolate/slide3-img.png" alt="collections slider")
                                    
                            li.chocolate-new-arrivals2__slide
                                .chocolate-new-arrivals2__slide-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                                    img.chocolate-new-arrivals2__slide-img(src="./img/chocolate/slide3-img.png" alt="collections slider")
                        
                            li.chocolate-new-arrivals2__slide
                                .chocolate-new-arrivals2__slide-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                                    img.chocolate-new-arrivals2__slide-img(src="./img/chocolate/slide3-img.png" alt="collections slider")
            
                            li.chocolate-new-arrivals2__slide
                                .chocolate-new-arrivals2__slide-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                                    img.chocolate-new-arrivals2__slide-img(src="./img/chocolate/slide3-img.png" alt="collections slider")

                            li.chocolate-new-arrivals2__slide
                                .chocolate-new-arrivals2__slide-wrapper(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                                    img.chocolate-new-arrivals2__slide-img(src="./img/chocolate/slide3-img.png" alt="collections slider")
                    .content2-wrapper
                        h2.chocolate-new-arrivals2__content-title(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   limited collection
                        p.chocolate-new-arrivals2__content-desc(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        a.btn.btn--gold(href="javascript:void(0);" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="5000" data-aos-duration="1500")
                            |   see collection
            .col-sm-4
            