.sl-header {
  border-bottom: 1px solid #ececec;
}
.sl-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  li {
    display: inline-block;
    margin-right: 10px;
  }

  &__link {
    font-family: $playfair-dc;
    font-size: 14px;
    padding: 0 10px;
    color: $black-333;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__logo {
    height: 50px;
    width: 100%;
  }

}

.sl-footer {
  min-height: 100px;
  background-color: $footer-bg;
}