.sl-header {
  border-bottom: 1px solid #ececec;
}
.sl-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  li {
    display: inline-block;
    margin-right: 10px;
  }

  &__link {
    font-family: 'Playfair Display SC', serif;
    font-size: 14px;
    padding: 0 10px;
    color: #333333;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__logo {
    height: 50px;
    width: 100%;
  }

}