doctype html
html
    include ../src/pug/base/head.pug
    body
        header.c-header
            | Webpack Boilerplate
        main.l-main
            p.active
                | &#x262E;
            h1 About page did it work yo !