doctype html
html
	- var page_name= "chocolate"
	head

		include jade/base/head.jade
		+head(page_name)

	body
		include ./jade/base/header.jade
		
		main
			include ./jade/layouts/chocolate/banner.jade
			include ./jade/layouts/chocolate/collections.jade

		include ./jade/base/footer.jade
		
		include ./jade/components/sidebar.jade

		include ./jade/base/scripts.jade