doctype html
html
    include ./jade/base/head.jade
    body
        include ./jade/base/header.jade
        
        main
            include ./jade/layouts/home/intro-banner.jade
            include ./jade/layouts/home/createdwithlove.jade
            include ./jade/layouts/home/whats-new.jade
            include ./jade/layouts/home/featured-slider.jade
            include ./jade/layouts/home/collections.jade
            include ./jade/layouts/home/custom-made.jade
            include ./jade/layouts/home/popular.jade
            include ./jade/layouts/home/showrooms.jade

        include ./jade/base/footer.jade

        include ./jade/base/scripts.jade