doctype html
html
    include ../src/pug/base/head.pug
    body
        include ../src/pug/base/header.pug
        
        main
            include ../src/pug/layouts/home/intro-banner.pug
            include ../src/pug/layouts/home/custom-made.pug

        include ../src/pug/base/footer.pug
            