doctype html
html
    include ../src/pug/base/head.pug
    body
        include ../src/pug/base/header.pug
        
        main
            include ../src/pug/layouts/home/intro-banner.pug
            include ../src/pug/layouts/home/createdwithlove.pug
            include ../src/pug/layouts/home/whats-new.pug
            include ../src/pug/layouts/home/featured-slider.pug
            include ../src/pug/layouts/home/collections.pug
            include ../src/pug/layouts/home/custom-made.pug
            include ../src/pug/layouts/home/popular.pug
            include ../src/pug/layouts/home/showrooms.pug

        include ../src/pug/base/footer.pug

        include ../src/pug/base/scripts.pug
            