section.sl-collections
    .container
        .row.text-center
            .col-xs-12
                h2.sl-collections__title
                    |   platinum collections
        .row
            .collection-slider
                .collection-slider__slide
                    img.collection-slider__img(src="./img/collection-slider.jpg", alt="collections slider")
                    .collection-slider__data
                        p.collection-slider__data-desc
                            |   BRAND NEW LIFE,BRAND NEW RINGS
                        h1.collection-slider__data-title
                            |   My Love for Platinum
                .collection-slider__slide
                    img.collection-slider__img(src="./img/collection-slider.jpg", alt="collections slider")
                    .collection-slider__data
                        p.collection-slider__data-desc
                            |   BRAND NEW LIFE,BRAND NEW RINGS
                        h1.collection-slider__data-title
                            |   My Love for Platinum
                .collection-slider__slide
                    img.collection-slider__img(src="./img/collection-slider.jpg", alt="collections slider")
                    .collection-slider__data
                        p.collection-slider__data-desc
                            |   BRAND NEW LIFE,BRAND NEW RINGS
                        h1.collection-slider__data-title
                            |   My Love for Platinum                    

        .row
            .col-xs-12.col-sm-3.sl-collections__cat-container
                a(href="javascript:void(0);")
                    .sl-collections__category(data-aos="zoom-in-left" data-aos-offset="300" data-aos-duration="500" data-aos-easing="ease-out-cubic")
                        img.sl-collections__category__img(src="./img/home-cat-01.png" alt="rings")
                        h4.sl-collections__category__heading
                            |   rings
                        p.sl-collections__category__sub-heading
                            |   See the collection
            .col-xs-12.col-sm-3.sl-collections__cat-container
                a(href="javascript:void(0);")
                    .sl-collections__category(data-aos="zoom-in-left" data-aos-offset="300" data-aos-duration="700" data-aos-easing="ease-out-cubic")
                        img.sl-collections__category__img(src="./img/home-cat-02.png" alt="earrings")
                        h4.sl-collections__category__heading
                            |   earrings
                        p.sl-collections__category__sub-heading
                            |   See the collection
            .col-xs-12.col-sm-3.sl-collections__cat-container
                a(href="javascript:void(0);")
                    .sl-collections__category(data-aos="zoom-in-right" data-aos-offset="300" data-aos-duration="500" data-aos-easing="ease-out-cubic")
                        img.sl-collections__category__img(src="./img/home-cat-03.png" alt="necklaces")
                        h4.sl-collections__category__heading
                            |   necklaces
                        p.sl-collections__category__sub-heading
                            |   See the collection
            .col-xs-12.col-sm-3.sl-collections__cat-container
                a(href="javascript:void(0);")
                    .sl-collections__category(data-aos="zoom-in-right" data-aos-offset="300" data-aos-duration="700" data-aos-easing="ease-out-cubic")
                        img.sl-collections__category__img(src="./img/home-cat-04.png" alt="bracelets")
                        h4.sl-collections__category__heading
                            |   bracelets
                        p.sl-collections__category__sub-heading
                            |   See the collection