section.sl-withlove
	.container
		.row
			.sl-withlove-container
				.sl-withlove__card.sl-withlove__card--1(data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500")
					img.sl-withlove__img(src="./img/created-for-love.png")
				.sl-withlove__card.sl-withlove__card--2(data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500")
					.sl-withlove__details-card
						h1.sl-withlove__details-card__title
							|   Created for Love
						p.sl-withlove__details-card__desc
							|   A sparkling big day is the dream of every bride, and it’s with this in mind that Shilpa has created its bridal jewellery collection. From sleek silver rings to gem-encrusted earrings, it has got the perfect accessory for every bride.
						p.sl-withlove__details-card__desc
							|   Every design from Shilpa tells a story, and wearing those pieces on wedding is the best way to express the woman you are. Brides prefer to wear designs from Shilpa's exquisite wedding jewellery collection, and they find elegance written all over them.
						img(src="./img/sign.png" alt="signature")
					.sl-withlove__details-card.sl-withlove__details-card--2(data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500" data-aos-delay="500")
						h1.sl-withlove__details-card--2__title
							|   The Best Way to Show
							br
							span
								|   Your Love
						a.btn.btn--white(href="javascript:void(0);")
							|   see collection