section.sl-custom-made
    .container
        .row
            .col-xs-12
                //- .particles
                .sl-custom-made__content
                    h2.sl-custom-made__title(data-aos="fade-up" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                        |   
                        span
                            |   world of 
                        br
                        |   custom made
                    p.sl-custom-made__desc.margin-bottom--3(data-aos="fade-up" data-aos-easing="linear" data-aos-delay="1000" data-aos-duration="1500")
                        |   Crafted Shilpa gives you an opportunity to have a unique, custom made jewellery piece, designed individually for you. We enjoy the process of designing and making a unique piece of jewellery custom made to your preference.
                    a.btn.btn--white(href="javascript:void(0);" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="1500" data-aos-duration="1500")
                        |   see collection