section.sl-popular
   .container
    .row
        .col-xs-12
            h2.sl-popular__title
                |   popular brands
            ul.sl-popular__brands-list
                li.sl-popular__brand(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500")
                    img(src="./img/brand1.png" alt="brands")
                li.sl-popular__brand(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000")
                    img(src="./img/brand2.png" alt="brands")
                li.sl-popular__brand(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2500")
                    img(src="./img/brand3.png" alt="brands")        
                li.sl-popular__brand(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500")
                    img(src="./img/brand4.png" alt="brands")