section.sl-showrooms
    .container-fluid
        .row
            .col-xs-12.col-sm-6.text-center.overflow-hidden
                .sl-showrooms__card.sl-showrooms__card--gold
                    img(src="./img/showroom-bgimg.jpg")
                    .sl-showrooms__address
                        h2.sl-showrooms__address__title(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   flagship stores
                        p.sl-showrooms__address__desc(data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   PALACE ROAD SHOWROOM RAJKOT
                            br
                            |   0281 – 2457131/2
                        a.btn.btn--white(href="javascript:void(0);" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   explore store
            .col-xs-12.col-sm-6.text-center.overflow-hidden
                .sl-showrooms__card.sl-showrooms__card--blue
                    img(src="./img/showroom-bgimg.jpg")
                    .sl-showrooms__address
                        h2.sl-showrooms__address__title(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   Concept stores
                        p.sl-showrooms__address__desc(data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   AKSHAR MARG SHOWROOM RAJKOT
                            br
                            |   0281 - 2220091-2-3
                        a.btn.btn--blue(href="javascript:void(0);" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="500" data-aos-duration="1500")
                            |   explore store