section.sl-whats-new
    .container
        .row.text-center
            h1.sl-collections__title
                |   what's new
        .row
            .col-sm-5
                .sl-whats-new__card.sl-whats-new__card--1(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500")
                    img.sl-whats-new__card__img(src="./img/whats-new-1.png")
                    .sl-whats-new__card__data
                        h4.sl-whats-new__card__title
                            | diamond claw
                        p.sl-whats-new__card__link
                            | view collection
            .col-sm-7
                .sl-whats-new__card.sl-whats-new__card--2(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500")
                    img.sl-whats-new__card__img(src="./img/whats-new-2.png")
                    .sl-whats-new__card__data
                        h4.sl-whats-new__card__title
                            | diamond claw
                        p.sl-whats-new__card__link
                            | view collection
        .row
            .col-sm-5
                .sl-whats-new__card.sl-whats-new__card--3(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500")
                    img.sl-whats-new__card__img(src="./img/whats-new-3.png")
                    .sl-whats-new__card__data
                        h4.sl-whats-new__card__title
                            | diamond claw
                        p.sl-whats-new__card__link
                            | view collection
            .col-sm-7
                .sl-whats-new__card.sl-whats-new__card--4(data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500")
                    img.sl-whats-new__card__img(src="./img/whats-new-4.png")
                    .sl-whats-new__card__data
                        h4.sl-whats-new__card__title
                            | diamond claw
                        p.sl-whats-new__card__link
                            | view collection